.container {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 15vw) 30vw;
  justify-content: start;
  padding: 0;
  column-gap: 0.5em;
  font-size: 1.1em;
  color: black;
  text-align: center;
  border-bottom: 1px solid rgb(144, 143, 143);
}

.pseudoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  border-radius: 1em;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin: 0.85em;
  border: none;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  background-color: #bfc0c1;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.input {
  margin: 0.8em 0;
  height: 40px;
  padding-left: 1em;
  border: solid 2px rgb(55, 55, 55);
  background-color: rgb(245, 245, 245);
  color: black;
  overflow-wrap: break-word;
}

.errorInput {
  border: 1px solid red;
}
